*, ::before, ::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* HEADER */

h2 {
    font-size: 1.125rem;
    margin: 0;
}

header {
    display: flex;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    width: 60%;
    gap: 0.25em;
    align-items: center;
    color: #0E0E0E;
    font-family: 'Roboto', sans-serif;
}

.header-left img {
    margin: auto 0;
}

.header-right {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.btn-nav {
    background: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}

a {
    text-decoration: none;
    color: #090909;
}

/* HERO */

.hero {
    background: url("../images/article-image-hero.png");
    background-size: cover;
    color: #ffffff;
    padding: 6rem 2rem 2rem 1.5rem;
    line-height: 1.3;
}

.date {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.hero-desc {
    font-weight: 300;
}

/* Main section/blogs */

.blogs-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem;
}

.blog {
    margin-bottom: 2rem;
}

.blog img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.blog p {
    margin: 0;
}

.blog-date {
    font-size: 0.875rem;
}

.blog-desc{
    color: 505050
}

.blog h1 {
    margin: 0.5rem 0;
}

.btn-main {
    background: none;
    font-weight: 700;
    text-decoration: underline;
    border: none;
}

/* FOOTER */
footer {
    background: #202020;
    text-align: center;
    padding: 2rem;
    font-size: 0.75rem;
    
}

footer p {
    margin: 0;
    line-height: 1.5;
}

.footer-title {
    color: #ECECEC;
    font-weight: 700;
    
}

.footer-tag {
    color: #D7D7D7;
}


/* HOME AND ABOUT COMMON */
.home-hero, 
.about-hero {
    padding: 2rem 1.25rem;
}

.home, 
.about {
    font-weight: 400;
 }

/* HOME PAGE */




.home-hero h1,
.home-hero .hero-desc {
    padding-right: 2rem;
}

.home-hero img {
    display: block;
    margin: 2rem auto 2.5rem;
    width: 100%;
    border-radius: 5px;
}

.post-heading {
    text-align: center;
    margin-top: 1rem;
}

/* ABOUT PAGE */

.about-hero img {
    border-radius: 50%;
    width: 50%;
}

.about-hero h1 {
    font-size: 2.5rem;
    padding-right: 2rem;
}

